<!-- NOTE: To see raw json data this is the best way -->
<!-- <pre>{{ data | json }}</pre> -->
<!-- <pre>{{ states | json }}</pre> -->



<!-- <form> -->

  <!-- Titles -->
  <mat-form-field>
    <mat-label>Titles</mat-label>
    <mat-select #title>
      <mat-option
        *ngFor="let item of data | slice:0:5"
        [value]="item.body"
      >
        {{ item.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <br>

  <strong style="margin-left: 30px;">{{ title.value }}</strong>

  <br>
  <br>
  <br>

  <!-- States -->
  <!-- <mat-form-field>
    <mat-label>States</mat-label>
    <mat-select #state>
      <mat-option
        *ngFor="let state of states"
        [value]="state.abbreviation"
      >
        {{ state.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <strong style="margin-left: 30px;">{{ state.value }}</strong> -->

<!-- </form> -->

<router-outlet></router-outlet>
