<!-- NOTE: To see raw json data this is the best way -->
<!-- <pre>{{ data | json }}</pre> -->
<!-- <pre>{{ states | json }}</pre> -->



<form [formGroup]="smallForm">

  <!-- Titles -->
  <mat-form-field>
    <mat-label>Titles</mat-label>
    <mat-select formControlName="titles">
      <mat-option
        *ngFor="let item of data | slice:0:5"
        [value]="item.body"
      >
        {{ item.title }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <strong style="margin-left: 50px;">{{ titlesValue }}</strong>

  <br>

  <br>
  <br>
  <br>

  <!-- States -->
  <mat-form-field>
    <mat-label>States</mat-label>
    <mat-select formControlName="states">
      <mat-option
      *ngFor="let state of states"
      [value]="state.abbreviation"
      >
      {{ state.name }}
    </mat-option>
  </mat-select>
</mat-form-field>
<strong style="margin-left: 50px;">{{ statesValue }}</strong>

<p>{{ smallForm.value | json }}</p>

</form>

<router-outlet></router-outlet>
